/*https://codepen.io/scanfcode/pen/MEZPNd*/
.footer {
    background-color: #26272b;
    padding: 2vh 5vw 0;
    height: border-box;
    /*font-size:1.5rem;*/
    line-height: 4.9vh;
    color: #737373;
    bottom: 0;
    /*add min for sizes */
}

.footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.footer h6 {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: max(2.5vh,10px);
    letter-spacing: 2px
}
.footer .footerrow{
    display: grid;
}
.footer a {
    color: #737373;
}

.footer a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.footer .social-icons {
    text-align: right;
    grid-column-start: 4;
    grid-footerrow: 1;
}

.footer .social-icons a {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0;
    grid-column-start: 1;
    /*grid-footerrow: 1;*/
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.fa-brands{
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

@media (max-width: 767px) {
    .footer {
        padding-bottom: 0
    }

    .footer .copyright-text, .footer .social-icons {
        text-align: center
    }

    /* da controllare*/
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

