body {
  margin: 0;
  position: relative;
}

.container{
  width: 100%;
  display: block;
}

.page-content {
  width: 100%;
  margin-bottom: 10vh;
}

select, .button {
  background: #f2f0e9;
  border: 1px solid;
  border-radius: 5px;
  padding: 2px;
}

.container-section-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh auto 0 auto;
}

.message{
  min-height: 50%;
  justify-content: center;
  align-content: center;
}