body {
  margin: 0;
  position: relative;
}

.container{
  width: 100%;
  display: block;
}

.page-content {
  width: 100%;
  min-height: 95vh;
  margin-bottom: 10vh;
}

select, .button {
  background: #f2f0e9;
  border: 1px solid #a5a5b1;
  border-radius: 4px;
  padding: 2px 4px;
}

.container-section-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh auto 0 auto;
}

.message{
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
}

@media (min-width: 577px) and (max-width: 1280px){
  .page-content {
    min-height: 50vh;
  }
}
/* Extra large screens, TV */
@media (min-width: 1281px) and (max-width: 1920px) {
  .page-content {
    min-height: 65vh;
  }
}