*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background: #563011;
  width: 100%;
  display: block;
}

.header-container {
  display: block;
  padding: 0 24px;
  margin: 0 auto;
  width: 100%;
}

.header-main {
  /*height: 96px;*/
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: row;
  justify-content: center;
}

.header-left {
  padding-left: 5px;
  padding-right: 5px;
}

.header-center {
  width: 40vw;
  text-align: left;
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  width: 20vw;
  justify-content: space-around;
  margin-left: 20px;
}

.logo {
  transition: all .2s ease-out;
  background-color: transparent;
  cursor: pointer;
  filter: invert(95%) sepia(2%) saturate(2414%) hue-rotate(352deg) brightness(103%) contrast(102%);
}

.logo:hover {
  filter: invert(88%) sepia(18%) saturate(993%) hue-rotate(342deg) brightness(106%) contrast(103%);
}

.logo img {
  display: block;
  max-height: 60px;
  min-height: 46px;
  margin-top: max(6px, 1vh);
  margin-bottom: max(6px, 1vh);
}

.searchBox {
  display: block;
  margin: auto;
}

#ricerca {
  display: flex;
  align-items: center;
  margin: auto;
}

.category {
  border: 1px solid;
  border-left: none;
  border-radius: 5px 0 0 5px;
  max-height: 52px;
  min-height: 40px;
  padding: 10px 5px;
  margin: 0;
  display: block;
  background: #f2f0e9;
}

.searchTerm {
  max-height: 52px;
  width: 20vw;
  min-height: 40px;
  border: 1px solid;
  border-right: none;
  border-left: none;
  background: transparent;
  margin: 0;
  background: cornsilk;
  outline: none;
}

.searchTerm:hover, .searchTerm:hover ~ .searchButton, .searchTerm:focus, .searchTerm:focus ~ .searchButton{
  background: #ffe990;
  transition: 0.2s ease all;
}

.searchButton {
  background: transparent;
  border: 1px solid;
  border-left: none;
  border-radius: 0 5px 5px 0;
  max-height: 52px;
  min-height: 40px;
  padding: 0 5px 0 0;
  margin: 0;
  background: cornsilk;
  cursor: pointer;
}

.button-header {
  width: 3vw;
  max-width: 40px;
  min-width: 26px;
  min-height: 26px;
  display: flex;
  transition: 0.2s linear all;
  align-items: center;
  font-size: max(5vh, 26px);
}

.button-header a {
  width: 100%;
  color: cornsilk;
}


.button-header a:hover {
  color: #ffe990;
  transition: 0.2s ease all;

}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {

  .logo img{
    height: 46px;
  }
  .header-left {
    padding-left: 5px;
    padding-right: max(5vw, 20px);
  }

  .searchButton, .searchTerm, .category{
    height: 40px;
  }

  .button-header{
    font-size: 26px;
  }
}