.container{
    width: 100%;
    display: block;
}

#StoreDesc{
    margin: 1vh 0 1vh 0;
    text-align: center;
    font-size: 1.82rem;
}

.container-section-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title{
    text-align: center;
    margin: 5vh auto 0 auto;
}
.container-bookgrid{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
}
.griglia{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    max-width: 80vw;
    justify-content: left;
    gap: max(1vw, 10px);
}

.book{
    display: block;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
}

.book img{
    height: 250px;
    width: 175px;
}

.prezzo{
    font-weight: bold;
}