#StoreDesc{
    margin: 1vh 0 1vh 0;
    text-align: center;
    font-size: 1.82rem;
}

.container-section-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh auto 0 auto;
}

.section-title{
    text-align: center;
}

/* SHOW OFF LIBRI */

.container-bookgrid{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
    margin: 5vh auto 5vh auto;
}

.griglia{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    max-width: 80vw;
    justify-content: center;
    gap: max(1vw, 10px);
}

.book{
    display: block;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
}

.book img{
    height: 250px;
    width: 175px;
}

.book-title, .book-author, .book-quantity-price{
    margin: max(1vh,8px) auto max(2vh,15px) auto;
}

.titolo, .autore{
    text-decoration: none;
    color: inherit;
}

.titolo:hover, .autore:hover{
    text-decoration: underline;
}

.book-price{
    font-weight: bold;
    margin: max(1vh,8px) auto 0 auto;
}