
.book-main{
  margin-top: max(15vh, 45px);
}
.book-cover-container{
  height: 55vh;
  min-height: 500px;
  float:left;
  margin: auto 10vw auto 15vw;
}

.book-cover{
  width: 280px;
  height: 420px;
}

.book-main-info{
  height: 55vh;
  min-height: 500px;
  margin: auto 5vw auto auto;
  align-content: center;
}

.book-info {
  padding-top: 40px;
}

.page-content a {
  color: inherit;
  cursor: pointer;
  text-underline-position: under;
  text-decoration-thickness: 1px;
  text-decoration-color: #563011;
}

.book-main-info a:hover {
  text-decoration-color: #ffe990;
}

.book-form h5 {
  font-weight: normal;
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  .book-main{
    margin-left: 20vw;
  }
  .book-cover-container {
    float: none;
    margin-left: 0;
  }
}